.nav{
    width: 90%;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.heading{    
    height: 200px;
    background-color: grey;
    margin: 3px 0px 0px 0px;
}
.heading p{
    font-size: 90px;
    color: white;
}